html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins',sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins',sans-serif;
  background: #eaf6f7e7
}

.logo {
  padding: 20px
}

nav ul {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 260px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #00848a;
  /* margin-top: 12px; */
}

nav ul li {
  list-style: none
}

nav ul li a {
  display: block;
  font-family: 'Poppins',sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  color: #fff;
  position: relative;
  padding: 15px 0px 15px 25px;
  transition: all 0.5s
}

nav ul li a:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background: #e3e9f7;
  border-radius: 40px 0 0 40px;
  z-index: -1;
  transition: all 1s
}

nav ul li a:hover {
  color: #2b2626
}

nav ul li a:hover:before {
  width: 95%
}

.wrapper {
  margin-left: 260px
}

.section {
  display: grid;
  place-items: center;
  min-height: 100vh;
  text-align: center
}

.box-area h2 {
  text-transform: uppercase;
  font-size: 30px
}
.font_1{
  /* text-transform: uppercase; */
  font-size: 16px;
}
.ul{
  margin-top: 20rem;
}
.ck_editer{
  /* height: 10%; */
  width: 100%;
}

.ck_editer1{
height: 10px;
}
.buttonform{
  background-color: #00848a;
  align-items: center;
}
.bton_45{
  margin-left: 10px;
  display: flex;
}
.bton_btn{
  margin-left: 3rem;
}
.addbutton {
  background-color: #00848a;
  border:#00848a;
  border-radius:12px;
  color: rgb(250, 246, 246);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left:80%;
  margin-top: 10px;
  /* cursor: pointer; */
}
.editbutton {
  background-color: #00848a;
  border:#00848a;
  border-radius:12px;
  color: rgb(250, 246, 246);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left:90%;
  margin-top: 10px;
  /* cursor: pointer; */
}